[workspace]
resolver = "2"
members = ["contracts", "contracts/contract1", "contracts/contract2", "server"]

[workspace.dependencies]
sdk = { path = "../hyle/crates/contract-sdk", package = "hyle-contract-sdk" }
client-sdk = { path = "../hyle/crates/client-sdk", default-features = false, package = "hyle-client-sdk" }
hyle = { path = "../hyle" }
# sdk = { git = "https://github.com/hyle-org/hyle", package = "hyle-contract-sdk" }
# client-sdk = { git = "https://github.com/hyle-org/hyle", default-features = false, package = "hyle-client-sdk" }
# hyle = { git = "https://github.com/Hyle-org/hyle.git", package = "hyle" }
contracts = { path = "contracts", default-features = false, package = "contracts" }
contract1 = { path = "contracts/contract1", package = "contract1" }
contract2 = { path = "contracts/contract2", package = "contract2" }

[workspace.package]
version = "0.4.1"
edition = "2021"


[patch.crates-io]
sha2 = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.8-risczero.0" }
